<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <title>FEBS权限管理系统</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.ico}" />
</head>
<body>
   <h1>sssssssssssdsdasdfdfdfsssssssssss</h1>

   <div class="user">
       <div class="user__info" data-toggle="dropdown">
           <img class="user__img">
           <div>
               <div class="user__name" data-th-utext="${user.username}"></div>
               <div class="user__email" data-th-utext="${user.email}"></div>
           </div>
       </div>
       <div class="dropdown-menu">
           <a class="dropdown-item" href="#" id="user__profile">个人信息</a>
           <a class="dropdown-item" href="#" data-toggle="modal" data-target="#update-password">修改密码</a>
       </div>
       <div class="alert-link" href="/logout">注销</div>
       <a href="/logout">注销</a>
   </div>
</body>

</html>